@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

.example-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 35rem;
  max-width: 40rem;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: lighter;
}
button {
  height: 4rem;
  width: 14rem;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.github {
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  background-image: url("/assets/github.png");
  background-size: cover;
  background-color: whitesmoke;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.medium {
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  background-image: url("/assets/medium.png");
  background-size: contain;
  background-color: whitesmoke;
}

.slack {
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  background-image: url("/assets/slack.png");
  background-size: contain;
  background-color: whitesmoke;
}

.footer-items {
  display: flex;
  align-items: center;
  min-width: 13%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
