<div class="container">
  <div class="logo">Vaccine Slot Notifier</div>
  <div class="emphasis">
    You will be notified every 15 mins of any available slots once you Start the
    Notification Server
  </div>
  <div>
    <form class="example-form">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Select State</mat-label>
        <mat-select
          [formControl]="emailFormControl"
          name="state"
          (selectionChange)="onStateSelectionChange($event)"
        >
          <mat-option
            *ngFor="let state of states | async"
            [value]="state.state_id"
          >
            {{ state.state_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" color="accent">
        <mat-label>Select District</mat-label>
        <mat-select
          [formControl]="districtFormControl"
          name="district"
          (selectionChange)="onDistrictSelectionChange($event)"
        >
          <mat-option
            *ngFor="let district of districts | async"
            [value]="district.district_id"
          >
            {{ district.district_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="button">
    <button
      mat-flat-button
      color="primary"
      (click)="startServer()"
      [disabled]="!selectedDistrict"
    >
      Start Notification Server
    </button>
  </div>
  <div class="button">
    <button
      mat-flat-button
      color="primary"
      (click)="stopServer()"
      [disabled]="!serverSubscription"
    >
      Stop Notification Server
    </button>
  </div>
  <div class="footer">
    <a
      href="https://github.com/AlankarKumar/vaxschedulenotifier"
      target="_blank"
      class="footer-items"
    >
      <div class="github"></div>
      <div style="padding-left: 10%">
        <div>Contribute on GitHub</div>
      </div>
    </a>
    <a
      class="footer-items"
      href="https://alankarkumar.medium.com/babc16e417b7?source=friends_link&sk=ca3caecc2f496068aba0a6f2fb598fcb"
      target="_blank"
    >
      <div class="medium"></div>
      <div style="padding-left: 10%">
        <div>Read Guide on medium</div>
      </div>
    </a>
    <a
      class="footer-items"
      href="https://alan-3us7510.slack.com/archives/C023GAA28KD"
      target="_blank"
    >
      <div class="slack"></div>
      <div style="padding-left: 10%">
        <div>Join Slack Channel</div>
      </div>
    </a>
  </div>
</div>
